.competences{
  background-color: $dark_grey;
  border-radius: 25px;
  padding: 10px;
  h2{
    color: $white;
  }
  .competences_infos{
    margin-top: 20px;
    width: 90%;
    h3{
      color: $white;
    }
  }
}