.formation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 25px;
  background-color: $white;
  padding-bottom: 25px;
  margin-bottom: 75px;
  .formation_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12px;
    padding: 15px;
    width: 90%;
    background-color: $dark_grey;
    border-radius: 25px;
  }
}