body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_faq{
    margin: 0 auto;
    margin-top: 45%;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images_faq{
    position: relative;
    top: -150px;
    left: -25px;
    width: 90%;
    height: auto;
}

.images_faq img:first-child, img:nth-child(2){
    display: none;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 50px;
}

.dividers{
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: hsl(240, 6%, 50%);
    border-bottom: solid 1px #000000;
    margin: 10px;
}

p{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.content>p:first-child{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: hsl(237, 12%, 21%);
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answer{
    display: none;
}

.answer p{
    font-size: 12px;
    color: hsl(240, 12%, 50%);
}

.dividersToggle{
    height: 100px;
}

.dividersToggle .question p{
    font-size: 15px;
    font-weight: 700;
    color: hsl(240, 6%, 50%);
}

.dividersToggle .question svg{
    transform: rotate(-180deg);
}

.dividersToggle .answer{
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .container_faq{
        flex-direction: row;
        width: 80%;
        height: 500px;
    }

    .images_faq{
        width: 45%;
    }

    .images_faq img:last-child{
        display: none;
    }

    .images_faq img:first-child{
        display: block;
        width: 35%;
        z-index: 1;
    }

    .images_faq img:nth-child(2){
        display: block;
    }

    .content{
        width: 45%;
    }

}