/* line 1, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

/* line 20, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 24, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* line 35, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
[tabindex="-1"]:focus {
  outline: none !important;
}

/* line 39, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 45, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 50, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 55, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

/* line 64, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 70, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 77, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 84, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
dt {
  font-weight: 700;
}

/* line 88, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 93, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 97, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 101, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 106, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 110, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 118, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
sub {
  bottom: -.25em;
}

/* line 122, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
sup {
  top: -.5em;
}

/* line 126, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 133, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* line 138, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 143, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

/* line 148, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 152, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 160, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 167, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
figure {
  margin: 0 0 1rem;
}

/* line 171, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 176, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 180, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 193, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
table {
  border-collapse: collapse;
}

/* line 197, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

/* line 205, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
th {
  text-align: inherit;
}

/* line 209, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 214, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
button {
  border-radius: 0;
}

/* line 218, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 223, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 234, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
button,
input {
  overflow: visible;
}

/* line 239, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 244, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 251, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 259, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 265, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 272, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 277, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 284, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 296, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 300, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 305, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 310, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 315, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 320, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
output {
  display: inline-block;
}

/* line 324, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
summary {
  display: list-item;
}

/* line 328, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
template {
  display: none;
}

/* line 332, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 336, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_reset.scss */
img {
  width: 100%;
}

/*
    Flaticon icon font: Flaticon
    Creation date: 13/11/2020 15:00
    */
@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../font/Flaticon.woff2") format("woff2"), url("../font/Flaticon.woff") format("woff"), url("../font/Flaticon.ttf") format("truetype"), url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

/* line 25, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 40, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-facebook:before {
  content: "\f100";
}

/* line 41, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-twitter:before {
  content: "\f101";
}

/* line 42, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-pinterest-social-logo:before {
  content: "\f102";
}

/* line 43, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-youtube:before {
  content: "\f103";
}

/* line 44, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-linkedin:before {
  content: "\f104";
}

/* line 45, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-search:before {
  content: "\f105";
}

/* line 46, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-30-degrees:before {
  content: "\f106";
}

/* line 47, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-instagram:before {
  content: "\f107";
}

/* line 48, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-more:before {
  content: "\f108";
}

/* line 49, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/_flaticon.scss */
.flaticon-storm:before {
  content: "\f109";
}

/*Definition des couleurs*/
/*FIN Definition des couleurs*/
/*CSS Barre de navigatio*/
/* line 9, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
.container {
  background-color: #3E4249;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 14, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* line 23, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav {
  color: #FFFFFF;
}

/* line 25, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav img {
  height: 45px;
  width: auto;
}

/* line 29, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav h1 {
  text-align: center;
  font-size: 1em;
}

/* line 34, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 40, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav .meteo {
  display: none;
}

/* line 43, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav .icon a:first-child {
  margin-right: 10px;
}

/* line 46, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav .icon a:last-child {
  margin-left: 10px;
}

/* line 49, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
nav p {
  margin-bottom: 0;
}

/*FIN CSS barre de navigation*/
/*CSS Du corps de la page*/
/* line 57, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
html, body {
  height: 95%;
}

/* line 59, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
html .container_body, body .container_body {
  height: 100%;
}

/* line 64, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
body {
  background: url("../image/lauzanne_img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/*CSS des reseau sociaux*/
/* line 74, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
p {
  font-family: Flaticon;
}

/* line 77, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
.reseaux_sociaux {
  display: none;
}

/*FIN CSS des reseau sociaux*/
/*CSS des liens du bas*/
/* line 84, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
.container_body {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/* line 89, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
.container_body .link_bottom {
  display: flex;
  justify-content: center;
}

/* line 95, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
}

/* line 103, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
ul li {
  background-color: #3E4249;
  opacity: 70%;
  margin: 10px;
}

/* line 110, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
li a {
  width: 100%;
  font-size: 1.7em;
  display: inline-block;
  color: #FFFFFF;
}

/* line 116, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
a:active {
  color: #FFFFFF;
}

/* line 119, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
a:visited {
  color: #FFFFFF;
}

/*FIN CSS des liens du bas*/
/*CSS de la signature*/
/* line 125, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
footer {
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*FIN CSS de la signature*/
/*FIN CSS du corps de la page*/
@media (min-width: 576px) {
  /* line 138, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  nav {
    background-color: red;
  }
  /* line 140, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  nav .meteo {
    display: block;
  }
}

@media (min-width: 768px) {
  /* line 148, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  nav {
    background-color: blue;
  }
}

@media (min-width: 992px) {
  /* line 155, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  nav {
    background-color: purple;
  }
  /* line 157, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  nav h1 {
    font-size: 2em;
  }
  /* line 160, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  nav img {
    height: 60px;
    width: auto;
  }
  /* line 166, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .container_body {
    justify-content: space-between;
  }
  /* line 170, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .reseaux_sociaux {
    float: left;
    width: 5%;
    display: flex;
    flex-direction: column;
    display: block;
    margin-top: 250px;
  }
  /* line 177, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .reseaux_sociaux p {
    text-align: center;
    font-size: 1.9em;
  }
  /* line 181, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .reseaux_sociaux p:nth-child(2n) {
    display: none;
  }
  /* line 184, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .reseaux_sociaux a {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50px;
    height: 50px;
    background-color: #2682C2;
  }
  /* line 193, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .reseaux_sociaux a:hover {
    background-color: #10435F;
    color: #FFFFFF;
    width: 175px;
  }
  /* line 197, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  .reseaux_sociaux a:hover p:last-child {
    margin-left: 25px;
    display: block;
  }
  /* line 203, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  ul {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  /* line 209, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  li {
    width: 33%;
  }
  /* line 212, D:/wamp64/www/MIW/CEO-Referencement/TP2/css/scss/style.scss */
  li:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */