@import "reset", "flaticon";

/*Definition des couleurs*/
$grey : #3E4249;
$white : #FFFFFF;
/*FIN Definition des couleurs*/

/*CSS Barre de navigatio*/
.container{
  background-color: $grey;
  width: 100%;
  display: flex;
  justify-content: center;
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
a{
 text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}


nav{
  color: $white;
  img{
    height: 45px;
    width: auto;
  }
  h1{
    text-align: center;
    font-size: 1em;
  }

  .icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .meteo{
    display: none;
  }
  .icon a:first-child{
    margin-right: 10px;
  }
  .icon a:last-child{
    margin-left: 10px;
  }
  p{
    font-size: 1.5em;
    margin-bottom: 0;
  }
}
/*FIN CSS barre de navigation*/


/*CSS Du corps de la page*/
html, body{
  height: 95%;
  .container_body{
    height: 100%;
  }
}

body{
  background: url("../image/lauzanne_img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
}

/*CSS des reseau sociaux*/
p{
  font-family: Flaticon;
}
.reseaux_sociaux{
  display: none;
}
/*FIN CSS des reseau sociaux*/


/*CSS des liens du bas*/
.container_body{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  .link_bottom{
    display: flex;
    justify-content: center;
  }
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  li{
    background-color: $grey;
    opacity: 70%;
    margin: 10px;
  }
}

li a{
  width: 100%;
  font-size: 1.7em;
  display: inline-block;
  color: $white;
}
a:active{
  color: $white;
}
a:visited {
  color: $white;
}
/*FIN CSS des liens du bas*/

/*CSS de la signature*/
footer{
  color: $white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/*FIN CSS de la signature*/

/*FIN CSS du corps de la page*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  nav {
    background-color: red;
    .meteo {
      display: contents;
      margin-right: 10px;
      margin-left: 10px;
      a{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      p:first-child{
        margin-right: 5px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  nav {
    background-color: blue;
    .meteo{
      a{
        display: flex;
        flex-direction: row;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  nav {
    background-color: purple;
    h1 {
      font-size: 2em;
    }
    img {
      height: 60px;
      width: auto;
    }
  }

  .container_body{
    justify-content: space-between;
  }

  .reseaux_sociaux{
    float: left;
    width: 5%;
    display: flex;
    flex-direction: column;
    display: block;
    margin-top: 250px;
    p{
      text-align: center;
      font-size: 1.9em;
    }
    p:nth-child(2n){
      display: none;
    }
    a{
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 50px;
      height:50px;
      background-color: #2682C2;
    }
    a:hover{
      background-color: #10435F;
      color: #FFFFFF;
      width: 175px;
      p:last-child{
        margin-left: 25px;
        display: block;
      }
    }
  }
  ul{
    width: 80%;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  li{
    width: 33%;
  }
  li:last-child{
    margin-right: 0;
  }
}

