h1 {
    text-align:center;
}
#maCarte {
    width : 450px;
    height : 450px;
}

table, tr, td{
    border: solid 1px black;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 80%;
}