.students{
  width: 100%;
}
.classroom{
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    width: 100%;
    height: 170px;
    font-size: 2.5em;
    background-image: url("fond_student_mobile.svg");
    background-repeat: no-repeat;
    background-size: 115%;
    background-position-x: -59px;
    text-align: center;
    color: $white;
    padding: 10%;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  li{
    margin-bottom: 25px;
    height: 350px;
    width: 50%;
    border-radius: 50px;
    background: linear-gradient(to right bottom, $blue, $pink);
  }
}

.classroom ul li{
  img{
    border-radius: 50px 50px 0 0;
  }
  ul{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  li{
    margin: 0;
    height: 25px;
    width: 25px;
  }
  li:last-child{
    margin-left: 10px;
  }
  a{
    padding-top: 25px;
    padding-left: 25px;
  }
  h4{
    text-align: center;
    color: $white;
    font-size: 2em;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .classroom{
    h2{
      background-image: url("fond_students_desktop.svg");
      height: 300px;
      padding: 100px;
    }
    ul{
      width: 75%;
      flex-direction: row;
      flex-wrap: wrap;
    }
    li{
      width: 25%;
      margin-bottom: 50px;
      height: 400px;
    }
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
