*{
    margin: 0;
    padding: 0;
}



@media only screen and (max-width: 600px) {

    .centrale img{
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    h2{
        color: blue;
        text-align: center;
    }


    .footer{
        background-color: blue;
        height: 50px;
    }
  }